<!DOCTYPE html>
<html>
<head>
    <title>Admo Emulator</title>
    <script src="/bower/jquery.min.js"></script>
    <script src="emulator.js"></script>

    <link rel="stylesheet" href="emulator.css">
</head>
<body onselectstart="return false;">
  <div id="screen">
      <iframe src="/" width="960" height="540" id="iframe"></iframe>
  </div>

  <div id="controls">
    <select id="screens"></select>
    <button onclick="setKinect()" type="button">Kinect</button>
    <button onclick="setPhase(1)" id="phase-1" type="button" class="toggle">Phase 1</button>
    <button onclick="setPhase(2)" id="phase-2"  type="button" class="toggle">Phase 2</button>
    <button onclick="setPhase(3)" id="phase-3" type="button" class="toggle">Phase 3</button>

    <button onclick="setHead()" type="button" id="head" class="toggle left">Head</button>
    <button onclick="setLeft()" type="button" id="left" class="toggle">Left Hand</button>
    <button onclick="setRight()" type="button" id="right" class="toggle right active">Right Hand</button>
    <button onclick="swipeLeft()" type="button" id="swipeleft" class=" swipeleft">Swipe Left</button>
    <button onclick="swipeRight()" type="button" id="swiperight" class=" swiperight">Swipe Right</button>
    <form id="setDepth">
    <input id="set_depth" type="text" name="depth"><br>
    <input type="button" onclick="setDepth()" value="Set Depth">
    </form>
  <div id="kinect-data"></div>
</body>
</html>
