<!-- build:js scripts/bower.js -->
<script src="bower/bugsnag.min.js"></script>
<script src="bower/underscore-min.js"></script>
<script src="bower/angular.min.js"></script>
<script src="bower/jquery.min.js"></script>
<script src="bower/jquery.transit.js"></script>
<script src="bower/speakingurl.min.js"></script>

<!-- Vendor libs  -->
<script src="scripts/vendor/alchemy-client.js"></script>
<script src="scripts/vendor/agility.js"></script>
<script src="scripts/vendor/mixpanel.js"></script>
<script src="scripts/vendor/uuid.js"></script>
<script src="scripts/vendor/scratch-pad.js"></script>
<script src="scripts/vendor/base64-binary.js"></script>
<!-- endbuild -->



<!-- Framwork libs that do not get compressed/combined -->
<script src="scripts/libs/base-object.js"></script>
<script src="scripts/libs/admo-config.js"></script>
<script src="scripts/libs/stats.js"></script>
<script src="scripts/libs/alchemy-server.js"></script>
<script src="scripts/libs/framework.js"></script>
<script src="scripts/libs/utils.js"></script>
<script src="scripts/libs/image-uploader.js"></script>
<script src="scripts/libs/kinect-state.js"></script>
<script src="scripts/libs/user.js"></script>
<script src="scripts/libs/screen.js"></script>
<script src="scripts/libs/global-components.js"></script>
<script src="scripts/app.js"></script>

<!-- Core comonnents that should be in every app -->
<!-- This is ONLY code that dictacts an API spec, not functionality-->
<script src="scripts/core-components/component.js"></script>
<script src="scripts/core-components/tracker.js"></script>
<script src="scripts/core-components/static-html.js"></script>
<script src="scripts/core-components/video-feed.js"></script>
