<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="<!-- @echo GIT_COMMIT -->">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
     <!-- @include _framework.html -->


    <!-- Vendor libs -->
    <script src="scripts/vendor/caman.full.min.js"></script>


    <!-- Components -->
    <script src="scripts/components/button.js"></script>

  </head>
  <body class="background">
    <video id="video"></video>
    <canvas id="canvas"></canvas>
    <div id="screen-container" ng-view></div>
  </body>
</html>
